.form__list {
  .list-reset();
}

.form__title {
  .center();
  font-size: @title2;
}

.form__fieldset {
  border: none;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.form__fieldset {
  position: relative;
  margin-top: 20px;
  .gray-line();
}

.form__fieldset-list {
  .list-reset();
}

.form__inner-list {
  .list-reset();
}

.form__description {
  .center();
  font-size: @title3;
  margin-bottom: 40px;

  &:first-of-type {
  .gray-line();
  }
}
